@import url('http://fonts.cdnfonts.com/css/chalkduster');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

body{
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

.create{
    position: absolute;
    margin-left: 25%;
}

.title {
    display: flex;
    position: absolute;
}

form{
    margin-top: 5rem;
}

.title img{
    width: 30px;
    height: 30px;
    margin: auto;
}

.title h2{
    font-size: 40px;
}

.namdress, .contact, .geographic, .date{
    display: flex;
}

form h3{
    font-size: 25px;
}

#name, #mail, #lat, #start-date{
    margin-right: 5rem;
    position: relative;
}

form input, form textarea, form select{
    border: 3px solid;
    border-radius: 5px;
}

#name input, #mail input, #lat input, #address input, #lon input, #tel input{
    height: 1.5rem;
    width: 18rem;
}

.des textarea, .hours textarea{
    height: 7rem;
    width: 42rem;
}

#description textarea{
    height: 7rem;
    width: 18rem;
}

.geographic{
    margin-bottom: 2rem;
}

.selection{
    display: flex;
}

.dropdown-check-list {
    display: inline-block;
    margin: auto;
}

.dropdown-check-list .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px 50px 5px 10px;
    border: 3px solid;
    border-radius: 5px;
    width: 200px;
}

.dropdown-check-list .anchor:after {
    position: absolute;
    content: "";
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.dropdown-check-list .anchor:active:after {
    right: 8px;
    top: 21%;
}

.dropdown-check-list ul.items {
    padding: 2px;
    display: none;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
    max-height: 100px;
}

.dropdown-check-list ul.items li {
    list-style: none;
}

.dropdown-check-list.visible{
    margin: auto;
}

.dropdown-check-list.visible .anchor {
    color: #0094ff;
    margin: auto;
}

.dropdown-check-list.visible .items {
    display: block;
    overflow: scroll;
}

.select_img{
    display: flex;
    margin-bottom: 2.5rem;
}

.select_img input{
    border: none;
    border-radius: 0;
    margin-top: 2rem;
    margin-left: 2rem;
}

.create button, .tag_creation button{
    font-size: 30px;
    text-align: center;
    border-radius: 5px;
    border: 3px solid;
    position: absolute;
    left: 50%;
    text-transform: uppercase;
}

#name input{
    margin: 0;
}

.tag_creation{
    font-size: 35px;
    text-align: center;
}
.tag_creation h3{
    margin-bottom: 0;
    margin-left: 2rem;
}

.tag_creation ul{
    margin-top: 1rem;
}

.tag_creation li{
    list-style: none;
}

.tag_creation form{
    margin-top: 2rem;
    margin-left: 5rem;
}

.tag_create input {
    height: 2rem;
    width: 15rem;
    margin-bottom: 2rem;
    margin-left: 3rem;
}

.tag_creation button{
    margin-left: -3rem;
}