@import url('http://fonts.cdnfonts.com/css/chalkduster');

body{
    margin: 0;
}

html{
    background:#181816;
    font-family: 'Nunito', sans-serif;
    color: white;
}
section{
    position: absolute;
    width: 80%;
    border-radius: 40px;
    box-shadow: 0 0 30px #955E00;
}

a{
    text-decoration: none;
}

#loginSection{
    height: 60%;
    margin: 10rem 10rem;
}

#registerSection{
    height: 70%;
    margin: 8rem 10rem;
}


#leftHalf {
    position: absolute;
    float: left;
    width: 50%;
    left: 0px;
    height: 100%;
}

#leftHalf img{
    border-radius: 40px 0 0 40px;
}

#rightHalf {
    position: absolute;
    float: right;
    width: 50%;
    right: 0px;
    height: 100%;
}

#rightHalf h1{
    margin-top: 2rem;
    margin-bottom: 3rem;
    font-size: 50px;
    text-transform: uppercase;
    -webkit-text-stroke: 2px #955E00;
    text-align: center;
}

#rightHalf #form {
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    align-content: flex-start;
}

#rightHalf #form .input{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
    max-width: 25rem;
}

#rightHalf #form .input input{
    padding: 15px;
    font-size: 15px;
    border: 1px solid #262936;
    background-color: whitesmoke;
    border-radius: 50px;
    margin-top: 8px;
}

label {
    color: white;
    font-size: 20px;
    margin-bottom: 3px;
    margin-left: 16px;
    -webkit-text-stroke: 0.3px #955E00;
}

#rightHalf #form .forget{
    text-align: right;
    margin-right: 75px;
    margin-top: 5px;
    font-size: 15px;
}

#rightHalf #form .forget a{
    color: #955E00;
}

#rightHalf #form button{
    border-radius: 10px;
    height: 40px;
    width: 120px;
    font-size: 20px;
    align-self: center;
    margin-top: 1.5rem;
    margin-right: 3rem;
}

#rightHalf #form button login:hover{
    background-color: #955e00;
    color: black;
}

#rightHalf footer{
    margin-top: 3rem;
    text-align: center;
}

#rightHalf footer a{
    color: #955E00;
}

.slider{
    width: 100%;
    height: 520px;
}
.slider h2, .museum_body h2{
    position: relative;
    font-size: 45px;
    color: white;
    -webkit-text-stroke: 0.5px #955E00;
    margin-left: 8rem;
}

#leftHalf .backButton{
    position: absolute;
    background-color: transparent;
    border: none;
    font-size: 45px;
    border-radius: 40px;
    margin-top: 6px;
    margin-left: 7px;
    color: white;
    -webkit-text-stroke: 1px #955E00;
}

#rightHalf #form .reset{
    margin-top: 3.5rem;
}

.slider .exh_card .img {
    width: 304px;
    height: 304px;
    box-shadow: 0 0 30px #955E00;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider .exh_card .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider .exh {
    font-size: 25px;
    -webkit-text-stroke: 0.5px #955E00;
    width: 100%;
    height: 480px;
    display: block;
}

.slider .exh_card{
    margin-left: 4rem;
    width: 335px;
    height: 100%;
    display: flex;
}

.slider .exh_card .exh_info{
    text-align: center;
    line-height: 5px;
    overflow: hidden;
    margin-left: -6rem;
}

.slider a{
    color: white;
    text-decoration: none;
}

.museum_content{
    position: relative;
    display: flex;
    -webkit-text-stroke: 0.5px #955E00;
    width: 100%;
    height: 476px;
    margin-bottom: 8rem;
}

.museum_image{
    float: left;
    margin-left: 1.5rem;
    box-shadow: 0 0 30px #955E00;
    border-radius: 20px;
}

.museum_image img{
    width: 700px;
    height: 476px;
    object-fit: cover;
    border-radius: 20px;
}

.museum_info{
    position: relative;
    margin-left: 2rem;
    padding-right: 1.5rem;
}

.museum_info .name{
    font-size: 40px;
    margin-bottom: 1.3rem;
}

.museum_info .description{
    font-size: 25px;
    max-height: 208px;
    overflow: hidden;
}

.museum_info .more{
    position: relative;
    font-size: 25px;
}

.museum_info .more a{
    text-decoration: underline;
    color: white;
    -webkit-text-stroke: 0.5px #955E00;
}

.museum_tag_container{
    position: absolute;
    bottom: 10px;
    font-size: 20px;
    margin-left: 2rem;
    display: flex;
    max-width: 450px;
}

.scroller{
    position: relative;
    padding-top: 10px;
    display: flex;
    overflow-x: scroll;
}

.museum_tag_container .text{
    position: relative;
    top: 6px;
    margin-left: 0;
    font-size: 30px;
}

.museum_tag_container a{
    text-decoration: none;
    color: black;
    padding: 5px;
}

.museum_tag_container .tag{
    margin: -7px 15px 0 10px;
    display: flex;
    position: relative;
    border-radius: 5px;
    align-items: center;
    background: white;
}

.tag a:hover{
    background: #ccc;
    color: ghostwhite;
}

.tag_container .heading_tag{
    color: black;
    padding: 10px;
    margin: -10px 20px 0 15px;
    display: flex;
    border-radius: 10px;
    align-items: center;
    background: white;
    cursor: default;
}

.tag_container {
    display: flex;
    position: relative;
    padding: 5px;
    margin: 2rem 0 4rem 3rem;
}

.heading_tag i{
    font-size: 17px;
    position: relative;
    top: -12px;
    margin-left: -10px;
}

.museum_page .header{
    text-align: center;
    position: relative;
    width: 100%;
    justify-content: center;
    margin-bottom: 5rem;
}

.header h2{
    font-size: 70px;
    -webkit-text-stroke: 1.5px #955E00;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
}

.header .header_tag{
    padding: 15px;
    position: relative;
    display: flex;
    justify-content: center;
    height: auto;
    margin-bottom: 3rem;
}

.header .tag_name{
    color: black;
    padding: 10px;
    margin: -10px 20px 0 15px;
    border-radius: 10px;
    background: white;
    cursor: default;
}

.header .header_image{
    display: flex;
    position: relative;
    width: 900px;
    height: 500px;
    box-shadow: 0 0 30px #955E00;
    justify-content: center;
    border-radius: 25px;
    overflow: hidden;
    left: 18%;
}

.header_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.body{
    -webkit-text-stroke: 0.5px #955E00;
    margin-left: 2rem;
    font-size: 25px;
    padding-right: 5rem;
}

.body h3{
    font-size: 40px;
}

.body ul{
    margin-left: -1rem;
    list-style: none;
}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}