<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>User Profile Page</title>
    <link rel="stylesheet" th:href="@{/css/userProfile.css}">
    <link rel="stylesheet" th:href="@{/css/topNavigationBar.css}">
    <link rel="shortcut icon" type="image/png" th:href="museum.png">
  </head>
  <body>
    <div th:insert="topNavigationBar :: navigationBar"></div>

    <div class="container">
      <div class="profile-card">
        <img class="profile-img" width="150px" th:src="@{images/profile.jpg}" alt="profile picture">
        <h4 th:text="${user.firstName} + ' ' + ${user.lastName}"></h4>
        <p style="color:#999999;" th:text="${user.email}"></p>
        <div class="tags-container" th:each="tag: ${user.tags}">
          <button th:text="${tag}"></button>
        </div>
      </div>

      <div class="profile-details">
        <h1 style="padding-bottom:40px; padding-top: 10%">Profile</h1>
        <form action="#" method="post" th:action="@{/api/user/users/info/{id}(id=${user.id})}" th:object="${user}">
          <div class="title-info" style="display: inline-block; padding-right:10%">First name
            <input type="text" id="divFirstName" style="color:black; font-size: medium; display:flex;" th:field="*{firstName}"></input>
          </div>
          <div class="title-info" style="display: inline-block">Last name
            <input style="color:black; font-size: medium; display:flex;" th:field="*{lastName}"></input>
          </div>
          <div class="title-info">Email
            <div class="info" th:text="${user.email}"></div>
          </div>
          <div class="title-info">Date of Birth
            <div class="info" id="dateOfBirth" th:text="${user.dateOfBirth}"></div>
          </div>
          <div class="title-info">Zip code
            <div class="info" th:text="${user.zipCode}"></div>
          </div>
        <div id="list1" class="dropdown-check-list" tabindex="100">
          <span class="anchor">Select Tags</span>
          <ul class="items">
            <li th:each="tag, itemStat: ${tags}"><input type="checkbox" th:text="${tag.name}"
                                                        th:value="${tag.name}"
                                                        th:name="|tags[${itemStat.index}]|"
                                                        th:id="${tag.name}"
                                                        th:field="*{tags[__${itemStat.index}__]}"/></li>
          </ul>
        </div>
        <div><button id="edit-btn" type="submit" onclick=onclick="window.location='user-profile'">SAVE</button></div>
      </form>
      </div>
    </div>

    <div class="admin_console">
      <a href="/museum-add" th:object="${user}" th:if="${role == 'ROLE_ADMIN'}">Add Museum</a>
      <a href="/tag-add" th:object="${user}" th:if="${role == 'ROLE_ADMIN'}">Add Tag</a>
      <a href="/exhibition-add" th:object="${user}" th:if="${role == 'ROLE_ADMIN'}">Add Exhibition</a>
    </div>

    <script>
          let date = document.getElementById("dateOfBirth").innerText;
          document.getElementById("dateOfBirth").innerHTML = date.split(' ')[0];
          var checkList = document.getElementById('list1');
          checkList.getElementsByClassName('anchor')[0].onclick = function(evt) {
            if (checkList.classList.contains('visible'))
              checkList.classList.remove('visible');
            else
              checkList.classList.add('visible');
          }
    </script>
  </body>
</html>
