<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title th:text="${exhibition.name}"></title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="stylesheet" th:href="@{/css/topNavigationBar.css}">
        <link rel="shortcut icon" type="image/png" th:href="museum.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>

    <div th:insert="topNavigationBar :: navigationBar"></div>

    <div class="exhibition_page">
        <div class="header">
            <h2 style="text-align: center;" th:text="${exhibition.name}"></h2>

            <div class="header_image"><img th:src="@{${'/exhibition-images/' + exhibition.id + '/' + exhibition.fileName}}"></div>
        </div>

        <div class="body">
            <h3>Status</h3>
            <div th:text="${exhibition.status}" th:if="${exhibition.status} == 'on going'" th:style="'color: green; text-transform: uppercase; font-weight:bold'"></div>
            <div th:text="${exhibition.status}" th:if="${exhibition.status} == 'over'" th:style="'color: red; text-transform: uppercase; font-weight:bold'"></div>
            <h3>Start Date</h3>
            <div th:text="${exhibition.startDate}"></div>
            <h3>endDate</h3>
            <div th:text="${exhibition.endDate}"></div>
            <h3>Description</h3>
            <div th:text="${exhibition.description}"></div>

            <a th:href="@{/museum/{id}/(id=${exhibition.museumId})}">
                <h3>Location</h3>
            </a>

        </div>
    </div>
    </body>
</html>