<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Home Page</title>
    <link rel="stylesheet" th:href="@{/css/topNavigationBar.css}">
    <link rel="stylesheet" th:href="@{/css/museumRow.css}">
    <link rel="stylesheet" th:href="@{/css/homePage.css}">
</head>
<body>
    <div th:insert="topNavigationBar :: navigationBar"></div>

    <div class="slideshow-container">

        <div class="mySlides fade">
            <div class="numbertext">1 / 3</div>
            <img class="banner" src="/images/banner/main1.jpg">
        </div>

        <div class="mySlides fade">
            <div class="numbertext">2 / 3</div>
            <img class="banner" src="/images/banner/main2.jpg">
        </div>

        <div class="mySlides fade">
            <div class="numbertext">3 / 3</div>
            <img class="banner" src="/images/banner/main3.jpg">
        </div>

    </div>
    <br>

    <div style="text-align:center">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
    </div>

    <h1 class="title">Exhibitions</h1>
    <div style="border:1px solid black; overflow-x:scroll; overflow-y: hidden;  white-space: nowrap; margin: 2%;">
        <div class="exhibition-container" th:each="exhibition: ${exhibitions}"  style ="width:500px; height:300px; display:inline-block;" >
            <a th:href="@{/exhibition/{id}/(id=${exhibition.id})}">
                <div class="exhibition" th:style="'height:300px; background-image:url(' + @{${'/exhibition-images/' + exhibition.id + '/' + exhibition.fileName}} + ');'">
                    <div id= "name" class="exhibition-details" th:text="${exhibition.name}" />
                    <div id= "Date" class="exhibition-details" th:text="${exhibition.startDate} + ' - ' + ${exhibition.endDate}" />
                    <div class="exhibition-details" th:text="${exhibition.status}" th:if="${exhibition.status} == 'on going'" th:style="'color:green; font-size: large; font-weight: bold;'"/>
                    <div class="exhibition-details" th:text="${exhibition.status}" th:if="${exhibition.status} == 'over'" th:style="'color:red; font-size: large; font-weight: bold;'"/>
                </div>
            </a>
        </div>
    </div>

    <h1 class="title">Museums</h1>
    <form action="#" method="get" th:action="@{/}">
        <button class="filter" th:if="${tag != null}" th:text="${tag}"></button>
    </form>
    <div class="museums-list">
        <div class="museum-table" th:insert="museumRow :: museumInfo(museum)"></div>
    </div>

</body>
<script>
let slideIndex = 0;
showSlides();


function showSlides() {
  let i;
  let slides = document.getElementsByClassName("mySlides");
  let dots = document.getElementsByClassName("dot");
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slideIndex++;
  if (slideIndex > slides.length) {slideIndex = 1}
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  setTimeout(showSlides, 2000); // Change image every 2 seconds
}

</script>
</html>