<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Home Page</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/topNavigationBar.css}">
    <link
            rel="stylesheet"
            href="https://unpkg.com/swiper/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="/images/museum.png">
    <link href="http://fonts.cdnfonts.com/css/chalkduster" rel="stylesheet">
</head>
<body>
    <div th:insert="topNavigationBar :: navigationBar"></div>

    <div class="slider">
        <a href="#"><h2>Exhibitions</h2></a>
        <div class="swiper mySwiper exh">
            <div class="swiper-wrapper exh_card">
                <div class="swiper-slide exh_content">
                    <a href="#">
                        <div class="img">
                            <img src="/images/Art-Exh.jpeg">
                        </div>

                        <div class="exh_info">
                            <p>Van Gogh</p>
                            <p>The Immersive Experience</p>
                            <p>16/05 - 22/05</p>
                        </div>
                    </a>
                </div>
                <div class="swiper-slide exh_content">
                    <div class="img">
                        <img src="/images/Natural-History-Exh.jpeg">
                    </div>

                    <div class="exh_info">
                        <p>Jurassic Period</p>
                        <p>Amazing Discoveries</p>
                        <p>18/05 - 22/05</p>
                    </div>
                </div>
                <div class="swiper-slide exh_content">
                    <div class="img">
                        <img src="/images/children-museum-exhi.jpeg">
                    </div>

                    <div class="exh_info">
                        <p>Vernon Grant</p>
                        <p>For children age 6 or under</p>
                        <p>18/05 - 23/05</p>
                    </div>
                </div>
                <div class="swiper-slide exh_content">
                    <div class="img">
                        <img src="/images/Sculpture-exh.jpeg">
                    </div>

                    <div class="exh_info">
                        <p>Sculpture Exhibition</p>
                        <p>From the most famous scuptor</p>
                        <p>25/05 - 27/05</p>
                    </div>
                </div>
                <div class="swiper-slide exh_content">
                    <div class="img">
                        <img src="/images/fifth.jpeg">
                    </div>

                    <div class="exh_info">
                        <p>Fifth Exhibition</p>
                        <p>Lorem ipsum dolor sit amet</p>
                        <p>25/05 - 27/05</p>
                    </div>
                </div>
                <div class="swiper-slide exh_content">
                    <div class="img">
                        <img src="/images/sixth.jpeg">
                    </div>

                    <div class="exh_info">
                        <p>Sixt Exhibition</p>
                        <p>Lorem ipsum dolor sit amet</p>
                        <p>25/05 - 27/05</p>
                    </div>
                </div>
                <div class="swiper-slide exh_content">
                    <div class="img">
                        <img src="/images/seventh.jpeg">
                    </div>

                    <div class="exh_info">
                        <p>Seventh Exhibition</p>
                        <p>Lorem ipsum dolor sit amet</p>
                        <p>25/05 - 27/05</p>
                    </div>
                </div>
                <div class="swiper-slide exh_content">
                    <div class="img">
                        <img src="/images/Sculpture-exh.jpeg">
                    </div>

                    <div class="exh_info">
                        <p>Sculpture Exhibition</p>
                        <p>From the most famous scuptor</p>
                        <p>25/05 - 27/05</p>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
    <div class="museum_body">
        <a href="#"><h2>Museums</h2></a>
        <div class="museum_content" th:each="museum: ${museums}" th:fragment="museumInfo(museum)">
            <div class="museum_image"><a th:href="@{/museum/{id}/(id=${museum.id})}"><img th:src="@{${'/museum-images/' + museum.id + '/' + museum.imageURL}}"></a></div>
            <div class="museum_info">
                <div class="museum_info name" th:text="${museum.name}" ></div>
                <div class="museum_info description" th:text="${museum.description}"></div>
                <span class="museum_info more"><a th:href="@{/museum/{id}/(id=${museum.id})}">Read more...</a></span>
                <div class="museum_tag_container"><span class="museum_tag_container text">Tag:</span><span class="scroller"><span class="tag" th:each="tag: ${museum.tags}"><a th:href="@{/museums/{tag}(tag=${tag})}" th:text="${tag}" th:object="${museums}"></a></span></span></div>
            </div>
        </div>
    </div>

</body>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
    var swiper = new Swiper(".mySwiper", {
        slidesPerView: 3,
        spaceBetween: 50,
        slidesPerGroup: 3,
        loop: true,
        loopFillGroupWithBlank: true,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    });
</script>
</html>