<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Museum</title>
    <link rel="stylesheet" th:href="@{/css/topNavigationBar.css}">
    <link rel="stylesheet" th:href="@{/css/museum.css}">

    <!-- google map -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
</head>
<body>
<div th:insert="topNavigationBar :: navigationBar"></div>

<div>
    <div class="header">
        <div id= "name" th:text="${museum.name}" />
        <div class="tags-container">
            <form action="#" method="get" th:each="tag: ${museum.tags}" th:action="@{/museums/{tag}(tag=${tag})}" th:object="${museums}">
                <button id="tag"  th:text="${tag}"></button>
            </form>
        </div>
    </div>

    <div class="image-container">
        <img id="image" th:src="@{${'/museum-images/' + museum.id + '/' + museum.imageURL}}"/>
    </div>

    <div class="description-container">Description
        <div id= "description" th:text="${museum.description}" />
    </div>

    <div class="openingHours-container">Opening Hours
        <div id= "openingHours" th:text="${museum.openingHours}" />
    </div>

    <div class="email-container">Email:
        <div id= "email" th:text="${museum.email}" />
    </div>

    <div class="phoneNumber-container">Phone number:
        <div id= "phoneNumber" th:text="${museum.phoneNumber}" />
    </div>

    <div class="address-container">Location
        <div id= "address" th:text="${museum.address}" />
    </div>

    <div id= "exhibitions" th:text="${museum.exhibitions}" />
</div>

<div id="map"></div>
<script th:inline="javascript">
  /*<![CDATA[*/
  function initMap() {
    // The location of the map
    var shop = { lat: /*[[${museum.latitude}]]*/, lng: /*[[${museum.longitude}]]*/ };
    var map = new google.maps.Map(
      document.getElementById('map'), { zoom: 20, center: shop });
    var marker = new google.maps.Marker({ position: shop, map: map });
  }
/*]]>*/
</script>
<script  async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBnhw3pzsFD40rRTED-QGVYFdynD3jEaQ&callback=initMap" >
</script>

</body>
</html>