<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Museum Row</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
        <link rel="shortcut icon" type="image/png" th:href="museum.png">

    </head>
    <body>
        <div class="museum_body">
            <a href="#"><h2>Museums</h2></a>
            <div class="museum_content" th:each="museum: ${museums}" th:fragment="museumInfo(museum)">
                <div class="museum_image"><a th:href="@{/museum/{id}/(id=${museum.id})}"><img th:src="@{${'/museum-images/' + museum.id + '/' + museum.imageURL}}"></a></div>
                <div class="museum_info">
                    <div class="museum_info name" th:text="${museum.name}" ></div>
                    <div class="museum_info description" th:text="${museum.description}"></div>
                    <span class="museum_info more"><a th:href="@{/museum/{id}/(id=${museum.id})}">Read more...</a></span>
                    <div class="museum_tag_container"><span class="museum_tag_container text">Tag:</span><span class="scroller"><span class="tag" th:each="tag: ${museum.tags}"><a th:href="@{/museums/{tag}(tag=${tag})}" th:text="${tag}" th:object="${museums}"></a></span></span></div>
                </div>
            </div>
        </div>
    </body>
</html>