<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Museum</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" type="image/png" href="/images/museum.png">
    <link rel="stylesheet" th:href="@{/css/topNavigationBar.css}">
    <link href="http://fonts.cdnfonts.com/css/chalkduster" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div th:insert="topNavigationBar :: navigationBar"></div>
    <div class="museum_page">
        <h2 class="tag_container">Filter:
            <div class="heading_tag" th:each="tag: ${museum.tags}">
                <i class="material-icons">close</i>
                <span th:text="${tag}"></span>
            </div>
        </h2>
        <a href="#"><h2>Museums</h2></a>
        <div class="museum_content" th:each="museum: ${museums}" th:fragment="museumInfo(museum)">
            <div class="museum_image"><a th:href="@{/museum/{id}/(id=${museum.id})}"><img th:src="@{${'/museum-images/' + museum.id + '/' + museum.imageURL}}"></a></div>
            <div class="museum_info">
                <div class="museum_info name" th:text="${museum.name}" ></div>
                <div class="museum_info description" th:text="${museum.description}"><span class="museum_info more"><a th:href="@{/museum/{id}/(id=${museum.id})}">Read more...</a></span></div>
                <div class="museum_tag_container">Tag:<span class="tag" th:each="tag: ${museum.tags}"><a th:href="@{/museums/{tag}(tag=${tag})}" th:text="${tag}" th:object="${museums}"></a></span></div>
            </div>
        </div>
    </div>
</body>
</html>