<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" type="image/png" href="museum.png">
</head>
<body>
    <section id="loginSection">
        <div id="leftHalf">
            <img src="newPassword.jpeg" width="100%" height="100%">
        </div>
        <div id="rightHalf">
            <header>
                <h1>Reset Password</h1>
            </header>
            <form id="form">
                <div class="input">
                    <label>New Password</label>
                    <input type="password" placeholder="******" class="password">
                </div>
                <div class="input">
                    <label>Confirm Password</label>
                    <input type="password" placeholder="******" class="password">
                </div>
                <button class="reset">Reset</button>
            </form>
        </div>
    </section>
</body>
</html>