<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Reset Password</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
  <link rel="icon" type="image/png" th:href="@{/images/museum.png}">
</head>
<body>
<section id="loginSection">
  <div id="leftHalf">
    <a th:href="@{/login}" class="backButton">&#8592;</a>
    <img th:src="@{/images/resetPassword.jpeg}" width="100%" height="100%">
  </div>
  <div id="rightHalf">
    <header>
      <h1>Reset Password</h1>
    </header>
    <form id="form">
      <div class="input">
        <label>Username</label>
        <input type="text" placeholder="Username" class="username">
      </div>
      <div class="input">
        <label>Email</label>
        <input type="text" placeholder="Email" class="email">
      </div>
      <button class="reset">Submit</button>
    </form>
  </div>
</section>
</body>
</html>