<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title></title>
        <link rel="stylesheet" th:href="@{/css/topNavigationBar.css}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>

        <div th:fragment="navigationBar" class="nav">
            <a href="/"><h2>Museum Finder</h2></a>
            <div class="search_bar">
                <form action="#" method="post" th:action="@{/museums}" th:object="${museums}">
                    <input type="text" placeholder="Search.." name="search" th:name="keyword"  >
                    <button type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </form>
            </div>
            <div class="profile">
                <a href="/user-profile" th:object="${user}" th:text="${user != null} ? ${user.username} : 'Login'"></a>
                <a href="/logout" th:object="${user}" th:if="${user != null}" th:text="Logout"></a>
            </div>
        </div>

    </body>
</html>