<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Top navigation bar</title>
    <link rel="stylesheet" th:href="@{/css/topNavigationBar.css}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>

    <div th:fragment="navigationBar" class="navigation-bar">
        <div class="logo-container">
            <img class= "appLogo" th:src="@{/images/icons/appLogo.png}">
        </div>
        <div class="appName">Museum Finder</div>
        <a href="/">Museums</a>
        <a href="/">Exhibitions</a>
        <div class="search-container">
            <form action="#" method="post" th:action="@{/museums}" th:object="${museums}">
                <input type="text" placeholder="Search.." name="search" th:name="keyword"  >
                <button type="submit">
                    <img th:src="@{/images/search.png}">
                    <i class="search-button"></i>
                </button>
            </form>
        </div>
        <a style="float:right;" href="/logout" th:object="${user}" th:if="${user != null}" th:text="Logout"></a>
        <a style="float:right;" href="/user-profile" th:object="${user}" th:text="${user != null} ? ${user.username} : 'Login'"></a>
        <a style="float:right;" href="/admin-console" th:object="${user}" th:if="${role == 'ROLE_ADMIN'}" th:text="Admin"></a>
    </div>

</body>
</html>